.wrap-login100 {
    margin: 5% 0% 0% 6%;
    width: 550px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
}
.login100-form-title {
    display: block;
    font-family: OpenSans-Regular;
    font-size: 30px;
    color: #555555;
    line-height: 1.2;
    text-align: center;
    margin-top:5%;
}
.wrap-input100{
    width:60%;
    margin-left:20%;
    margin-top:10%;
}
.container-login100-form-btn{
    margin:5% 0% 5% 40%;
}
.p-b-4{
    margin-bottom: 7%;
}
.card_c{
    margin: 3% 0% 21% 10%;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
}
.menuList>li{
    font-size: 16px;
    margin:2% 2% 2% 2%;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    width:150px;
    box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
}

.menuList>li:hover{
    font-size: 16px;
    margin:2% 2% 2% 2%;
    cursor: pointer;
    background: lightcoral;
    border-radius: 10px;
    overflow: hidden;
    width:150px;
    box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
}
