:root{

	/*font default*/
	--font-family-base: Superspace;
	--font-weight-light-base: 300;
	--font-weight-regular-base: 400;
	--font-weight-bold-base: 700;
	--font-size-base: 14px;

	/*color default*/
	--blue-color-base: #0069aa;
	--lightgray-color-base: #f2f2f2;
	--brown-color-base: #a52a2a;
}


body{
	font-family: var(--font-family-base);
	font-weight: var(--font-weight-regular-base);
	font-size: var(--font-size-base);
}

.margin-top-80{
	margin-top: 80px;
}
.margin-bottom-100{
	margin-bottom: 100px;
}
.img-height-150{
	height: 150px;
}
.bg-dark-green{
	background-color: #56482c;
}
.my-card{
	position: relative;
}
.my-card>.icon{
	position: absolute;
	bottom: 2px;
    right: 10px;
    font-weight: var(--font-weight-bold-base);;
}
.btn-padding{
	padding: 2px 50px;
}
.bg-brown{
	background-color: var(--brown-color-base);
}
.my-card{
	width: 300px;
  	white-space: nowrap;
  	overflow: hidden;
	text-overflow: ellipsis;
}

.fastBkBtn{
	width: 180px;
	height: 60px;
	background-color: var(--brown-color-base);
}
.carousel_c{
	width: 100%;
  	height: auto;
}
.footerpage{
	padding-top: 60px;
}
.h2Topic{
	text-align: center;
	margin-top: 20px;
}

.underline_c{
	border:3px solid pink;
	width:530px;
}
.underline_c_sub{
	border:3px solid pink;
	width:330px;
	margin-left: -1px;
}
.story{
	margin-top: 5%;
}
.img_c{
	border-radius: 50%;
	margin-top:20%;
}
.r1{
	margin-left: 70px;
}
.btnChoose{
	margin-left: 100px;
}
.required{
	color: red;
	font-size: 16px;
}


.input-file-container {
	position: relative;
	text-align: center;
	border-radius: 10px;
  } 
  .js .input-file-trigger {
	display: block;
	padding: 14px 45px;
	background: turquoise;
	color: #fff;
	font-size: 1em;
	transition: all .4s;
	cursor: pointer;
	border-radius: 5px;
  }
  .js .input-file {
	position: absolute;
	top: 0; left: 0;
	width: 225px;
	opacity: 0;
	padding: 14px 0;
	cursor: pointer;
  }
  .js .input-file:hover + .input-file-trigger,
  .js .input-file:focus + .input-file-trigger,
  .js .input-file-trigger:hover,
  .js .input-file-trigger:focus {
	background: #34495E;
	color: #39D2B4;
  }
  
  .file-return {
	margin: 0;
  }
  .file-return:not(:empty) {
	margin: 1em 0;
  }
  .js .file-return {
	font-style: italic;
	font-size: .9em;
	font-weight: bold;
  }
  .js .file-return:not(:empty):before {
	content: "Selected file: ";
	font-style: normal;
	font-weight: normal;
  }